<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="{{ path('app_home') }}" class="logo">
                <img src="{{ asset('img/kaiadmin/logo_light.svg') }}" alt="Logo" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {{ app.request.get('_route') == 'app_dashboard' ? 'active' }}">
                    <a data-bs-toggle="collapse" href="#dashboard" class="{{ app.request.get('_route') == 'app_dashboard' ? '' : 'collapsed' }}" aria-expanded="{{ app.request.get('_route') == 'app_dashboard' ? 'true' : 'false' }}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {{ app.request.get('_route') == 'app_dashboard' ? 'show' }}" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('app_dashboard') }}">
                                    <span class="sub-item">Tableau de bord</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                {# Ajoutez ici les autres éléments du menu avec la même logique de route active #}
                
            </ul>
        </div>
    </div>
</div>