{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.stock, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.imagePath, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="mt-4">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_product_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{{ form_end(form) }} 