<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KaiAdmin - Symfony{% endblock %}</title>
    
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Font Awesome pour les icônes -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Autres styles locaux -->
        <link rel="stylesheet" href="{{ asset('css/fonts.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/kaiadmin.min.css') }}">

        <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    {% endblock %}
    
    {% block javascripts_head %}
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
              families: [
                "Font Awesome 5 Solid",
                "Font Awesome 5 Regular",
                "Font Awesome 5 Brands",
                "simple-line-icons",
              ],
              urls: ["{{ asset('css/fonts.min.css') }}"]
            },
            active: function() {
              sessionStorage.fonts = true;
            }
          });
        </script>
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        {% include 'responsable/sidebar.html.twig' %}
        
        <div class="main-panel">
            {% include 'responsable/navbar.html.twig' %}
            
            <div class="container">
                <div class="page-inner">
                    {% block body %}{% endblock %}
                </div>
            </div>
            
            {% include 'responsable/footer.html.twig' %}
        </div>
    </div>

    {% include 'responsable/scripts.html.twig' %}
    
    {% block javascripts %}
        <!-- jQuery (requis par Bootstrap et autres plugins) -->
        <script src="{{ asset('js/core/jquery-3.7.1.min.js') }}"></script>
        <!-- Popper.js et Bootstrap JS -->
        <script src="{{ asset('js/core/popper.min.js') }}"></script>
        <script src="{{ asset('js/core/bootstrap.min.js') }}"></script>
        <!-- Plugins -->
        <script src="{{ asset('js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>
        <script src="{{ asset('js/plugin/chart.js/chart.min.js') }}"></script>
        <script src="{{ asset('js/plugin/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
        <script src="{{ asset('js/plugin/chart-circle/circles.min.js') }}"></script>
        <script src="{{ asset('js/plugin/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>
        <script src="{{ asset('js/plugin/jsvectormap/jsvectormap.min.js') }}"></script>
        <script src="{{ asset('js/plugin/jsvectormap/world.js') }}"></script>
        <script src="{{ asset('js/plugin/sweetalert/sweetalert.min.js') }}"></script>
        <!-- Kaiadmin JS -->
        <script src="{{ asset('js/kaiadmin.min.js') }}"></script>
    {% endblock %}
</body>
</html>