<div class="sidebar" style="background-color: #181a20;">
  <div class="sidebar-logo">
        <div class="logo-header" style="background-color: #181a20;">
            <a href="{{ path('app_home') }}" class="logo">
                <!--<img src="{{ asset('img/kaiadmin/logo_light.svg') }}" alt="Logo" class="navbar-brand" height="20">-->
                <h2 style="color: rgb(32, 159, 205);">   G Y M I F Y</h2>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            
            
            <li class="nav-item">
              
              <div class="collapse" id="base">



                <li class="nav-section">
                  <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                  </span>
                  <h4 class="text-section">Blogs</h4>
                </li>


               

                <li class="nav-item">
                  <a href="{{ path('app_sportif_blogs') }}">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                    <span class="badge badge-warning">4</span>
                  </a>
                </li>


                <li class="nav-item">
                    <a href="{{ path('app_sportif_create_post') }}">
                    <i class="fas fa-plus"></i>
                    <p>New Blog</p>
                  </a>
                </li>


                <li class="nav-item">
                  <a href="widgets.html">
                    <i class="fas fa-comment"></i>
                    <p>My blogs</p>
                  </a>
                </li>


                <li class="nav-item">
                  <a href="{{ path('app_sportif_statistics') }}">
                    <i class="fas fa-chart-line"></i>
                    <p>Statistics</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{{ path('app_sportif_my_statistics') }}">
                    <i class="fas fa-chart-pie"></i>
                    <p>My Blogs Statistics</p>
                  </a>
                </li>

                
                  
                  
                  
                  
                  
                  
                  
                </ul>
              </div>
            </li>
            

            </ul>
          </div>
          <!--<div class="page-category">Inner page content goes here</div>-->
        </div>
      </div>
</div>
<style>

</style>