{% extends 'sportifdashboard/homepagesportif.html.twig' %}

{% block title %}Post index{% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/post-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% endblock %}
{% block body %}









    <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <ul class="breadcrumbs">
              <li class="nav-home">
                <a href="#">
                  <i class="icon-home"></i>
                </a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Pages</a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Starter Page</a>
              </li>
            </ul>
          </div>
          <div class="page-category">Inner page content goes here</div>


          <div class="feed feed-centered" style="margin-left: 100px;">
            {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        < <img src="" alt="user" />
                        <strong>{{ post.user.nom }}</strong>
                        <strong>{{ post.user.id }}</strong>

                        <div class="post-date">
                            {{ post.createdAt|date('d M Y H:i') }}
                        </div>
                    </div>
    
                    <div class="post-image">
                        <img src="{{ post.imageUrl }}" alt="post image">
                    </div>
    
                    <div class="post-actions">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
    
                    <div class="post-content">
                        <strong>username</strong> {{ post.content }}
                    </div>
                </div>
            {% else %}
                <p>Aucun post trouvé.</p>
            {% endfor %}
        </div>
        </div>
      </div>


    
    <h1>Post index</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id user</th>
                <th>username</th>

                <th>Title</th>
                <th>Content</th>
                <th>Image_url</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.user.id }}</td>
                <td>{{ post.user.nom }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.imageUrl }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Create new</a>



    











    

{% endblock %}
