{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.role) }}
        {{ form_row(form.specialite) }}
          <button class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const roleField = document.querySelector('#user_role'); // Id du champ role
            const specialiteField = document.querySelector('#user_specialite'); // Id du champ spécialité

            // Fonction pour mettre à jour l'état du champ spécialité
            function toggleSpecialiteField() {
                if (roleField.value === 'entraineur') {
                    specialiteField.disabled = false; // Activer le champ spécialité
                } else {
                    specialiteField.disabled = true; // Désactiver le champ spécialité
                    specialiteField.value = ''; // Effacer la valeur si le rôle n'est pas Entraîneur
                }
            }

            // Initialiser la fonction lorsque la page est chargée
            toggleSpecialiteField();

            // Ajouter un écouteur d'événements pour changer le rôle
            roleField.addEventListener('change', toggleSpecialiteField);
        });
    </script>
{% endblock %}
